::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4a4847bf;
}

body {
  overflow-x hidden
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color #2fd611
}

.custom-block .custom-block-title {
  display none
}

.theme-default-content pre.language-sh code {
  color #17ff0b;
}

@media (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }
}
