::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $accentColor;
}

body {
  overflow-x hidden
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color #2fd611
}

.custom-block .custom-block-title {
  display none
}

.theme-default-content pre.language-sh code {
  color #17ff0b;
}

@media (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}

@media (min-width: 500px) {
  .code-copy {
    height 0
  }
}

.content__default .icon.outbound {
  display none !important
}

.details {
  // user-select none
}

.video video {
  width: 100%
}

svg {
  transition: all .3s
}

pre {
  overflow-x: auto !important
  overflow-y hidden !important
}
